#music-panel {
    max-width: 650px;
    margin: 0 auto;
    border-radius: 10%;
    text-align: center;
    background: #178282;
    outline: black solid 1px;
    box-shadow: 0px 0px 15px white;
    font-size: 125%;
}

img#music_image {
    height: 75%;
    width: 75%;
    margin-top: 20px;
	margin-bottom: 5px;
	outline: #178282 solid 4px;
    box-shadow: 0px 0px 15px white;
}

#music_executor {
	font-style: italic;
}

progress#music_progress.music_day_1 {
    border: 0;
    width: 90%;
    padding: 0;
    height: 25px;
    display: block;
    overflow: hidden;
    margin: 10px auto;
    text-align: center;
    background: #fff;
    border-radius : 8px;
    background: -o-linear-gradient(#0d8282cb, #137171cb 50%, #115656cb);
    box-shadow: 1px 2px rgba(0,0,0,.3) inset, 0 0 0 1px rgba(0,0,0,.5);
}

progress#music_progress.music_day_2::-webkit-progress-bar { /*фон прогрессбара*/
    background: rgb(157, 149, 149);
    box-shadow: 1px 2px rgba(0,0,0,.3) inset, 0 0 0 1px rgba(0,0,0,.5);
}

progress#music_progress.music_day_3::-webkit-progress-value { /* фон заполнения прогрессбара */
    border-radius: 8px;
    background: -webkit-linear-gradient(#0d8282cb, #137171cb 50%, #115656cb);
}

progress#music_progress.music_night_1 {
    border: 0;
    padding: 0;
    height: 25px;
    width: 90%;
    display: block;
    overflow: hidden;
    margin: 10px auto;
    text-align: center;
    background: #fff;
    border-radius : 8px;
    background: -o-linear-gradient(#635b5b, #696060 50%, #575454);
    box-shadow: 1px 2px rgba(0,0,0,.3) inset, 0 0 0 1px rgba(0,0,0,.5);
}

progress#music_progress.music_night_2::-webkit-progress-bar { /*фон прогрессбара*/
    background: rgb(157, 149, 149);
    box-shadow: 1px 2px rgba(0,0,0,.3) inset, 0 0 0 1px rgba(0,0,0,.5);
}

progress#music_progress.music_night_3::-webkit-progress-value { /* фон заполнения прогрессбара */
    border-radius: 8px;
    background: -webkit-linear-gradient(#635b5b, #696060 50%, #575454);
}

.music_interface {
    top: -32.5px;
    position: relative;
}

#music_time {
    color: black;
    text-align: center;
    font-style: oblique;
    font-weight: lighter;
    text-shadow: 0px 1px 1px white;
}

.music-player-text {
    padding-top: 10px;
}

#music_number {
    color: lime;
}

.music_player_text_track {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

#music_list {
    font-style: oblique;
    background: #b3cccc;
}

.music_section_volume {
    margin: 5px 0px;
}

.music_volume {
    width: 30%;
    cursor: pointer;
    font-size: 100%;
    padding: 10px 0;
    border-radius: 12px;
    background: #96acac;
}

.music_nexttrack_section {
    margin-top: 5px;
}

#music_nexttrack, #music_previoustrack {
    width: 30%;
    cursor: pointer;
    font-size: 100%;
    padding: 10px 0;
    border-radius: 12px;
    font-style: oblique;
    background: #96acac;
}

#music_pause {
    width: 30%;
    cursor: pointer;
    font-size: 100%;
    padding: 10px 0;
    color: #ff0000e6;
    border-radius: 12px;
    font-style: oblique;
    background: #96acac;
    text-shadow: 1px 1px 2px black;
}

#music_random_album, #music_random_track {
    width: 4.5%;
    bottom: -7px;
    cursor: pointer;
    max-width: 175px;
    max-height: 22.5px;
    position: relative;
    border-radius: 12px;
    src: "/images/music_random_image.png";
}

#music_volume, #music_playbackrate {
    color: lime;
    font-size: 100%;
}

.music_currenttime, .music_playbackrate, .music_textblock {
    cursor: pointer;
    font-size: 100%;
    padding: 10px 0;
    width: 100%;
    max-width: 14.8%;
    border-radius: 12px;
    display: inline-block;    
    background: #96acac;
    padding-left : 15px;
    padding-right: 15px
}

#music_speedtext {
    min-width: 30%;
    padding-left : 15px;
    padding-right: 15px;
}