body {
	margin-top: 0;
	background: #61a4ad;
}

video {
	margin: auto;
	width: 500px;
	height: 400px;
	display: block;
	outline: #178282 solid 4px;
}

address {
	color: white;
	font-weight: bold;
	text-align: center;	
	text-shadow: 1px 1px 2px black;
}

figure, .center {
	text-align: center;
}

.text_w_shadow_b {
	color: white;
	text-shadow: 1px 1px 2px black;
}

.text_b_shadow_w {
	color: black;
	text-shadow: 1px 1px 2px white;
}

img#main_photo {
	z-index: -1;
	opacity: 0.0;
	width: 400px;
	height: 500px;
	border-radius: 5%;
	outline: #178282 solid 4px;
}

img.image_Jim_Carrey {
	width: 400px;
	height: 200px;
	border-radius: 5%;
	outline: #178282 solid 4px;
}

img.gadgetsandcoffee {
	width: 400px;
	height: 380px;
	border-radius: 5%;
	outline: #178282 solid 4px;
}

p.mem_text {
	color: white;
	text-align: center;
	text-shadow: 1px 1px 2px black;
}

span.smile_size {
	font-size: 30px;
}

blockquote {
	color:white;
	margin-left: 450px;
	text-shadow: 1px 1px 2px black;
}

a:link {
	color: #238623;
	text-decoration: none;
	background: transparent;
	text-shadow: 1px 0px 1px black;
}

a:visited {
	color: #0000e6;
	text-decoration: none;
	background: transparent;
	text-shadow: 1px 0px 1px black;
}

a:hover {
	color: yellow;
	background: transparent;
	text-decoration: underline;
	text-shadow: 1px 0px 1px black;
}

a:active {
	color: red;
	background: transparent;
	text-decoration: underline;
	text-shadow: 1px 1px 2px black;
}

a:focus {
	color: orange;
	background: transparent;
	text-decoration: underline;
	text-shadow: 1px 1px 2px black;
}

::selection {
	color: red;
	background: yellow;
}

.notselection {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;	
}

.logo_type {
	padding: 10px;
	color: #0000e6;
	text-align: center;
	font-family: cursive;
	background: #ffffff5b;
	margin: 0 calc(-25vw + 25%);
	text-shadow: 3px 3px 4px black;
}

nav { /* задаем цвет фона для контейнера nav. */
	top: 0;	
	z-index: 1;
	opacity: 0.9;
	position: sticky;
	background-color: #178282;
	margin: 0 calc(-25vw + 25%);
}

nav ul { /* убираем отступы и поля, а также list-style для "ul", и добавляем "position:relative" */
	margin: 0;
	padding-left: 50px;
	list-style: none;
}

nav ul li { /* применяем inline-block позиционирование к элементам навигации */
	width: 14.05%;
	display: inline-block;
	background-color: #178282;
}

nav a { /* стилизуем ссылки */
	display: block;
	padding: 0 10px;
	line-height: 60px;
	font-size: 150%;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	text-shadow: 1px 1px 2px black;
}

nav ul ul { /* скрываем выпадающие списки по умолчанию и задаем абсолютное позиционирование */
	display: none;
	position: absolute;
}

nav ul li:hover > ul { /* отображаем выпадающий список при наведении */
	margin-left: -50px;
	display: inherit;
}

nav ul ul li { /* первый уровень выпадающего списка */
	min-width: 205px;
	display: list-item;
}

input#matetial_learn_1, input#matetial_learn_2  {
	background: #1aa1a1;
	border: 2px solid black;
}

input#button_topic {
	color: black;
	background: white;
}

table.table_1, table.table_1 th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table.table_1 caption {
	color: white;
	font-weight: bold;
	font-style: oblique;
	text-shadow: 1px 1px 2px black;
}

table.table_1 {
	width: 31%; 
	margin: auto;
	font-size: 105%;
	font-style: oblique;
	text-shadow: 1px 1px 8px white;
}

table.table_1 col:nth-child(1) {
	background:#178282;
}
table.table_1 col:nth-child(2) {
	background:#50b4b4
}

table.table_1 td:nth-child(1) {
	font-weight: bold;
}

table.table_1 td, th {
	padding: 10px; 
}

table.table_1 th {
	text-align: left;
}

table.table_1_1 tr:nth-child(even) {
	background: #b3cccc; 
}

table.table_1_2 tr:nth-child(even) {
	background: rgba(255, 255, 255, 0.421); 
}

table.hover_1 tr:hover {	
	background: #1aa1a1cb;
}

table.hover_2 tr:hover {	
	background: white;
}

table.table_1 tr th:nth-child(2), td:nth-child(2) {
	color: navy;
}

footer {
	text-align: center;
	font-style: italic;
}

@media screen and (max-width: 980px) {
	.logo_type {
		padding: 10px;
		margin: 0 calc(-10vw + 0%);
	}
	nav {
		float: left;
		width: 25%;
	}
	nav ul {
		padding-left: 0px;
	}
	nav ul li {
		width: 100%;
	}
	nav a {
		font-size: 200%;
	}
	#main_photo {
		margin-left: -15%;
	}
	blockquote {
		margin-left: 20%;
		padding-bottom: 15px;
	}
	#music-panel {
		position: relative;
		left: -270px;
		float: left;
    }
	/*.mem_text, figcaption, dfn, span.text_w_shadow_b, #video_text_samp, address, #copyright {
		font-size: 50%;
	}
	#music_figcaption, #video_text, #music_player_text_player, #music_sound_text, #music_speed_text {
		font-size: 100%
	}
	*/
}